body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0a3cff; /* BLUE BACKGROUND */
    color: #ffffff;
    text-align: center;
}

h1 {
    margin-top: 15px;
}

.subtitle {
    font-size: 15px;
    margin-bottom: 10px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
    font-size: 16px;
}

#viewer {
    width: 100%;
    height: 500px;
}
